<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../output.css" rel="stylesheet">
  </head>
  <body class="bg-gray-50 dark:bg-gray-800">
    <div class="container mx-auto px-4 py-8">
      <h6 class="font-bold mb-2 dark:text-gray-50">Card Component</h6>
      <div class="bg-white dark:bg-gray-700 dark:text-gray-5 rounded-md shadow-lg overflow-hidden">
        <div class="w-full p-4 bg-gray-100 border-b border-gray-200 dark:border-gray-500 dark:bg-gray-900">
          <h4 class="font-bold dark:text-gray-50">Card Title</h4>
        </div>
        <div class="p-4 dark:text-gray-50">
          Arcu est, in nascetur dui interdum justo porttitor.
        </div>
        <div class="w-full p-3 bg-gray-50 border-t border-gray-100 dark:border-gray-500 dark:bg-gray-900">
          <p class="dark:text-gray-50">Footer Card</p>
        </div>
      </div>
    </div>
  </body>
</html>
