<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <div class="container mx-auto px-4 py-8">
        <h6 class="font-bold mb-2">DropDown Component</h6>
        <div class="relative">
          <button class="flex items-center bg-white-500 border border-gray-300 hover:bg-gray-50 px-6 py-2 rounded text-black shadow">
            Dropdown button
            <svg class="w-4 h-4 ml-2" data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="m19.5 8.25-7.5 7.5-7.5-7.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
          <div class="bg-white abs w-56 border border-gray-200 py-1 shadow-md rounded-md">
            <a href="#" class="block text-sm text-gray-500 px-3 py-1 bg-white hover:bg-gray-300">Link1</a>
            <a href="#" class="block text-sm text-gray-500 px-3 py-1 bg-white hover:bg-gray-300">Link2</a>
            <a href="#" class="block text-sm text-gray-500 px-3 py-1 bg-white hover:bg-gray-300">Link3</a>
            <a href="#" class="block text-sm text-gray-500 px-3 py-1 bg-white hover:bg-gray-300">Link4</a>
          </div>
        </div>
    </div>
</body>
</html>
